<div class="container">
    <div class="row p-1">
        <div class="col-1">Username</div>
        <div class="col-5"><input type="text" id="usernameInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">Name</div>
        <div class="col-5"><input type="text" id="nameInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">Surname</div>
        <div class="col-5"><input type="text" id="surnameInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

